<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="finishers" value="E:\privat\Tuna ungdom\RunTimer\finishers.txt"/>
    <add key="times" value="E:\privat\Tuna ungdom\RunTimer\times.txt"/>
    <add key="startlist" value="E:\privat\Tuna ungdom\RunTimer\startlist.csv"/>
    <add key="starttimes" value="E:\privat\Tuna ungdom\RunTimer\starttimes.csv"/>
    <add key="results" value="E:\privat\Tuna ungdom\RunTimer\results.csv"/>
  </appSettings>
</configuration>